
body {
  font-family: 'Pacifico', cursive;
  background-color: #8A2B32;
  margin-top: 12.5%;
}


.container {
  background-color: rgb(188, 173, 230);
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid black;
}


h1 {
  text-align: center;
}

form {
  text-align: center;
  padding: 5%;
}


#question, #answer {
  height: 50px;
  width: 250px;
  text-align: center;
}

button {
  color: white;
  background-color: #8A2B32;
}


button:hover {
  color: #8A2B32;
  background-color: white;
}
